<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ltg.base.course.mapper.CourseMapper">
    <select id="consumerList" resultType="com.ltg.base.course.data.vo.CourseVo">
        select
        c.id,
        c.create_time as createTime,
        c.course_name as courseName,
        c.price as price,
        c.price_type as priceType,
        c.file_ids as fileIds
        from b_course as c
        where deleted = 0
        <if test="status != null">
            and course_status=#{status}
        </if>
        <if test="keyword != null and keyword != ''">
            and c.course_name like CONCAT('%', #{keyword}, '%')
        </if>
    </select>

    <select id="list" resultType="com.ltg.base.course.data.vo.CourseVo">
        select
        c.id,
        c.create_time as createTime,
        c.course_name as courseName,
        c.price as price,
        c.price_type as priceType,
        c.file_ids as fileIds
        from b_course as c
        where deleted = 0
        <if test="status != null">
            and course_status=#{status}
        </if>
        <if test="keyword != null and keyword != ''">
            and c.course_name like CONCAT('%', #{keyword}, '%')
        </if>
    </select>
</mapper>